<section class="copyRightContainer">
    <div class="copyRightCenter">
        <h2>Urheberrechte ©</h2>

        <div class="copyRight">
            <div class="copyBox">
                <span>Alle Icons und Bilder auf dieser Seite stammen aus folgenden Quellen:</span>
                <br><br>
                Sebastian Gamroth
                <br><br>
                <b>Wikimedia Commons</b>
                <br>
                <a target="_blank"
                    href="https://commons.wikimedia.org/wiki/Category:SVG_playing_cards">commons.wikimedia.org</a>
            </div>
        </div>
    </div>
</section>