<button class="menu" mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">Home</button>
    <button mat-menu-item routerLink="/copyright">Copyright</button>
    <button mat-menu-item routerLink="/imprint">Imprint</button>
    <button mat-menu-item routerLink="/privacy">Privacy</button>
</mat-menu>

<!-- <div class="menu">
    <a routerLink="">Home</a>
    <a routerLink="/copyright">Copyright</a>
    <a routerLink="/imprint">Imprint</a>
    <a routerLink="/privacy">Privacy</a>
    <a routerLink="">Close</a>
</div> -->